<p>
  I'm in a <em>view</em>!
</p>
<%= Time.now %>


 <h1> "Here is the list of all recipes in the cookbook" </h1>

   <ul>
    <% @recipies.each do |username| %>
      <li>
        <%= username.name %>
      </li>
    <% end %>
  </ul>

  <a href="/new">Create new recipe</a>
  <a href="/destroy">Destroy recipe</a>
